/* colors */
$white: #ffffff;
$white1: #edf2f7;
$black: #000000;
$black2: #4a4a4d;
$gray: #dedede;
$gray2: #989898;
$gray3: #fbfbfb;
$gray4: #707070;
$gray5: #fafafa;
$blue: #02057f;
$blue2: #4fcce9;
$green: #53b257;
$pink: #fb607f;

$PrimaryFontColor: #323232;
$PrimaryBackgroundColor: #f7f7f7;

$todoColor: #74a0fe;
$doingColor: #ffc879;
$checkColor: #fc889f;
$doneColor: #79ff82;

$boxShadow1: 0 0 20px -2px rgba($black, 0.1);
$boxShadow2: 0 0 20px -2px rgba($black2, 0.1);
$boxShadow3: 0 0 2px 2px rgba($gray, 0.5);
